<%- layout('/layouts/boilerplate') %>

<div class="row">
  <div class="col-6 offset-3">
    <h1>This is new page</h1>
    <form
      action="/project"
      method="POST"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="project[title]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <input type="file" name="image" id="" multiple />
      <div class="mb-3">
        <label class="form-label" for="location">tags</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="project[tags]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="project[image]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Link</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="project[link]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="project[description]"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-success">Add Project</button>
    </form>
  </div>
</div>
