<article class="card">
  <header class="card-header">
    <h2><%- project.title %></h2>
    <p><%- project.description %></p>
  </header>
  <div class="author-name">
    <div class="author-name-prefix">Author</div>
    Lu Chen
  </div>
  <div class="image">
    <img src="/svg/avatar.jpg" alt="lol" />
  </div>
</article>
