<%- layout('/layouts/boilerplate2') %>

<Section id="particles-js">
  <div class="Introduction">
    <span class="row1">Hello,</span>
    <span class="row2">My name is <span id="name">Lu</span>,</span>
    <span class="row3">I'm a <span>student</span> </span>
  </div>
</Section>

<Section class="About-me" id="About-me">
  <div class="About-me-content">
    <div class="About-me-content-grid">
      <div class="About-me-col1">
        <h1>About me</h1>
        <img src="/svg/avatar.jpg" alt="" />
      </div>
      <div class="About-me-col2">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus incidunt dignissimos rem earum et aperiam. Magnam
          doloremque sed ut exercitationem odio est consequuntur suscipit.
          Repudiandae doloremque dolorem nisi impedit eius? Suscipit, tempora
          aliquam quas sapiente sequi exercitationem quod nulla sint ex impedit
          distinctio nostrum? Ut, corrupti. Aperiam, cum? Placeat quaerat
          numquam nobis necessitatibus commodi odit voluptatum ad quae maiores!
          Cupiditate! Dolores, adipisci repellendus? Doloremque ipsam aliquid
          vel quis. Unde praesentium nobis voluptatum, cumque ratione facilis
          dignissimos consectetur at cupiditate maiores harum voluptatem
          accusantium similique labore repudiandae expedita, numquam obcaecati
          vel. Pariatur totam autem sapiente optio ullam consectetur ad quisquam
          vitae veritatis quia corrupti, porro facilis maxime iste repudiandae
          cum, neque a. Omnis voluptate fugit architecto quidem debitis.
          Temporibus, dolore odio.
        </p>
      </div>
    </div>
  </div>
</Section>

<Section class="current-progress" id="current-progress">
  <div class="current-progress-content">
    <trim>
      <div class="curpro-col1">
        <h1>My current progress</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quod
          dolores a asperiores cupiditate eum provident distinctio ipsam,
          consectetur accusamus obcaecati similique laborum aspernatur
          dignissimos officiis iusto corporis totam harum. Error unde, sint
          magnam impedit tempora earum aperiam consectetur soluta corporis natus
          a velit, amet culpa id nesciunt corrupti itaque reprehenderit quo
          aliquam nostrum non. Sint velit temporibus corrupti odio. Error
          itaque, magni possimus quia quis non officiis qui quod distinctio vel
          excepturi culpa ipsa commodi debitis dignissimos ab corrupti maiores
          beatae, soluta odit accusantium autem rerum similique ea? Optio?
        </p>
      </div>
      <div class="curpro-col2">
        <div class="progress-wrap">
          <div class="progress-comp">
            <div class="progress-title">
              <div>
                <h5>Java</h5>
              </div>
              <div>
                <h5>30%</h5>
              </div>
            </div>
            <div class="progress-bar">
              <div class="progress-precent pp-1"></div>
            </div>
          </div>

          <div class="progress-comp">
            <div class="progress-title">
              <div>
                <h5>Python</h5>
              </div>
              <div>
                <h5>80%</h5>
              </div>
            </div>
            <div class="progress-bar">
              <div class="progress-precent pp-2"></div>
            </div>
          </div>
          <div class="progress-comp">
            <div class="progress-title">
              <div>
                <h5>C++</h5>
              </div>
              <div>
                <h5>90%</h5>
              </div>
            </div>
            <div class="progress-bar">
              <div class="progress-precent pp-3"></div>
            </div>
          </div>
          <div class="progress-comp">
            <div class="progress-title">
              <div>
                <h5>C++</h5>
              </div>
              <div>
                <h5>90%</h5>
              </div>
            </div>
            <div class="progress-bar">
              <div class="progress-precent pp-3"></div>
            </div>
          </div>
          <div class="progress-comp">
            <div class="progress-title">
              <div>
                <h5>C++</h5>
              </div>
              <div>
                <h5>90%</h5>
              </div>
            </div>
            <div class="progress-bar">
              <div class="progress-precent pp-3"></div>
            </div>
          </div>
          <div class="progress-comp">
            <div class="progress-title">
              <div>
                <h5>C++</h5>
              </div>
              <div>
                <h5>90%</h5>
              </div>
            </div>
            <div class="progress-bar">
              <div class="progress-precent pp-3"></div>
            </div>
          </div>
        </div>
      </div>
    </trim>
  </div>
</Section>
<%- include('./project2/index.ejs') %>

<Section class="contact" id="contact">this is my contact </Section>
<!-- 
<div id="particles-js"></div> -->
