<%- layout('/layouts/boilerplate2') %>
<Section class="Introduction">
  <h1 class="content">
    <span class="row1">Hello,</span>
    <span class="row2">My name is Lu,</span>
    <span class="row3">I'm a <span>student</span> </span>
  </h1>
</Section>

<Section class="About-me" id="About-me">
  <div class="left">
    <h1>About me</h1>
    <h1>G</h1>
  </div>
  <div class="right"></div>
</Section>

<Section class="current-progress" id="current-progress">
  this is my progress
</Section>
<%- include('./project2/index.ejs') %>

<Section class="contact" id="contact">this is my contact </Section>
