<%- layout('/layouts/boilerplate2') %>

<Section id="particles-js">
  <div class="Introduction">
    <span class="row1">Hello,</span>
    <span class="row2">My name is <span id="name">Lu</span>,</span>
    <span class="row3">I'm a <span>student</span> </span>
  </div>
</Section>

<Section class="About-me" id="About-me">
  <article>
    <div class="About-me-content">
      <div class="About-me-content-col1">
        <header><h1>Who am I?</h1></header>
        <div class="image-container"></div>
      </div>
      <div class="About-me-content-col2">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam
          corrupti hic error odio quam atque expedita, quia ullam placeat
          nostrum fugit ipsum eius accusamus fugiat aliquid aut repellendus
          ducimus vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Dolore quod dolores a asperiores cupiditate eum provident distinctio
          ipsam, consectetur accusamus obcaecati similique laborum aspernatur
          dignissimos officiis iusto corporis totam harum. Error unde, sint
          magnam impedit tempora earum aperiam consectetur soluta corporis natus
          a velit, amet culpa id nesciunt corrupti itaque reprehenderit quo
          aliquam nostrum non.
        </p>
      </div>
    </div>
  </article>
</Section>

<Section class="current-progress" id="current-progress">
  <div class="current-progress-content">
    <section>
      <div class="curpro-col1">
        <header><h1>I am also updating myself quickly</h1></header>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quod
          dolores a asperiores cupiditate eum provident distinctio ipsam,
          consectetur accusamus obcaecati similique laborum aspernatur
          dignissimos officiis iusto corporis totam harum. Error unde, sint
          magnam impedit tempora earum aperiam consectetur soluta corporis natus
          a velit
        </p>
      </div>
      <div class="curpro-col2">
        <div class="progress-wrap">
          <div class="progress-comp">
            <div class="progress-title">
              <div>
                <h5>Java</h5>
              </div>
              <div>
                <h5>30%</h5>
              </div>
            </div>
            <div class="progress-bar">
              <div class="progress-precent pp-1"></div>
            </div>
          </div>

          <div class="progress-comp">
            <div class="progress-title">
              <div>
                <h5>Python</h5>
              </div>
              <div>
                <h5>80%</h5>
              </div>
            </div>
            <div class="progress-bar">
              <div class="progress-precent pp-2"></div>
            </div>
          </div>
          <div class="progress-comp">
            <div class="progress-title">
              <div>
                <h5>C++</h5>
              </div>
              <div>
                <h5>90%</h5>
              </div>
            </div>
            <div class="progress-bar">
              <div class="progress-precent pp-3"></div>
            </div>
          </div>
          <div class="progress-comp">
            <div class="progress-title">
              <div>
                <h5>C++</h5>
              </div>
              <div>
                <h5>90%</h5>
              </div>
            </div>
            <div class="progress-bar">
              <div class="progress-precent pp-3"></div>
            </div>
          </div>
          <div class="progress-comp">
            <div class="progress-title">
              <div>
                <h5>C++</h5>
              </div>
              <div>
                <h5>90%</h5>
              </div>
            </div>
            <div class="progress-bar">
              <div class="progress-precent pp-3"></div>
            </div>
          </div>
          <div class="progress-comp">
            <div class="progress-title">
              <div>
                <h5>C++</h5>
              </div>
              <div>
                <h5>90%</h5>
              </div>
            </div>
            <div class="progress-bar">
              <div class="progress-precent pp-3"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</Section>
<%- include('./project/index.ejs') %>

<Section class="contact" id="contact">
  <article>
    <section>
      <div class="contact-row1">
        <header><h1>Contact me!!!</h1></header>
      </div>
      <div class="contact-row2">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam alias
          error cupiditate laborum fugit esse fugiat! Dignissimos accusantium
          repudiandae architecto aliquam! Libero assumenda deserunt rerum harum
          inventore, laborum quam excepturi?
        </p>
      </div>
    </section>
  </article>
</Section>
