<%- layout('/layouts/boilerplate2') %>

<Section class="title">
  <div>
    <h1>Lu Chen</h1>
  </div>
</Section>

<section class="AboutMe">
  <img class="waveDown" src="svg/abourmeWave.svg" alt="" />
  <div class="AboutMeText">
    <h1>About Me</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto animi
      voluptates blanditiis velit dolorem, eum veritatis illum reiciendis itaque
      ducimus omnis dignissimos ratione facilis quaerat, sed sapiente ab nostrum
      cupiditate. Quisquam ullam quis corrupti quaerat reprehenderit alias
      eaque. Modi eveniet unde mollitia laudantium maiores, eum porro
      voluptatibus ratione provident sapiente eligendi, fuga libero, repellat
      non quia velit quis veritatis. Temporibus. Labore, laborum. Doloremque
      quas assumenda dolore corporis necessitatibus eum voluptas voluptate
      praesentium, corrupti unde, velit, nemo repudiandae alias tempora
      repellendus consectetur accusamus accusantium est non! Saepe modi a
      nostrum itaque.
    </p>
  </div>
  <img class="waveUp" src="svg/aboutmeWave2.svg" alt="" />
</section>

<section class="Current Progress">
  <div></div>
</section>
