<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../public/css/stylesheet_of_inventory/navbar1.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap"
      rel="stylesheet"
    />
    <title>New Navbar</title>
  </head>
  <body>
    <h1>Tester</h1>

    <div id="tester2"></div>

    <nav class="navbar">
      <div class="container">
        <a id="pin" href="">LC</a>
        <div id="Items">
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Me</a></li>
            <li><a href="">My Blog</a></li>
            <li><a href="">Side Projects</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
