<Section class="project" id="project">
  <div class="project-title"><h1>My Projects</h1></div>
  <section class="card-list">
    <% for (let project of projects) {%>
    <a class="card" href="/project2/<%= project._id %>">
      <header class="card-header">
        <h2><%- project.title %></h2>
        <p><%- project.breif %></p>
      </header>
      <div class="author-name">
        <div class="author-name-prefix">Author</div>
        Lu Chen
      </div>
      <div class="image">
        <img src="/svg/avatar.jpg" alt="lol" />
      </div>
    </a>
    <% } %>
  </section>
</Section>
