.navbar {
  position: fixed;
  background-color: #293241;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 5rem;
  font-family: "Open Sans";
  transition: 200ms;
  z-index: 1;
}

main {
  margin-left: 5rem;
  padding: 0;
  height: auto;
}

.main-items {
  /* background-color: red; */ /*see the porpotion*/
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-items-logo {
  height: 18%;
}

.nav-items-list,
.info-items-list {
  list-style: none;
  padding: 0;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info-items {
  height: 30%;
  /* background-color: brown;  */
}

.setting-item {
  height: 10%;
  /* background-color: aquamarine;  see the porpotion */
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
.navbar:hover {
  width: 12rem;
}

.nav-item:hover {
  background-color: saddlebrown;
}

.p-pri {
  color: #f1faee;
}

.nav-item-text {
  display: inline;
  position: absolute;
  color: #e0fbfc;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    width: 0vw;
  }

  .navbar * {
    display: none;
  }
}
