.About-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.About-me-content {
  height: 90%;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.About-me-content-grid {
  height: 100%;
  width: 80%;
  /* background-color: brown; */
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.About-me-col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: transparent;
  position: relative;
}

.About-me-col1 h1 {
  padding: 0 3rem 0 1rem;
  display: block;
  background-color: transparent;
  font-size: 40px;
}

.About-me-col1 img {
  padding: 0 1rem 1rem 1rem;
  display: block;
  height: 50%;
  width: 100%;
}

.About-me-col2 p {
  padding: 6rem;
  font-size: 20px;
}

.About-me-col1:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 72px;
  background-color: #e3872d;
  top: 11%;
}
