.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.page-header {
  background-image: url("../../svg/policy.jpg");
  background-size: cover;
  background-position-y: center;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header h5 {
  background-color: transparent;
  text-align: center;
  font-size: 3.5rem;
}

.project article {
  /* background-color: brown; */
  width: 80%;
  height: 100vh;
}

.project-show-content {
  height: 100%;
  margin-top: 2.5%;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: blueviolet; */
}

.project-demon-header {
  width: 100%;
  /* background-color: aqua; */
}

.project-demon {
  position: relative;
}

.project-demon-title {
  font-size: 180%;
  text-align: center;
  margin: 0 3rem 0 3rem;
  padding: 0 3rem 0 3rem;
}

.project-demon::before {
  display: block;
  content: "";
  width: 25vw;
  height: 1px;
  border-top: solid black;
  position: absolute;
  top: 50%;
  left: 8%;
}

.project-demon::after {
  display: block;
  content: "";
  width: 25vw;
  height: 1px;
  border-top: solid black;
  position: absolute;
  top: 50%;
  right: 8%;
}

.project-description p {
  margin: 1rem 20rem 0 20rem;
  font-size: 1.5rem;
}

.project-tag {
  /* background-color: rebeccapurple; */
  width: 50%;
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5%;
}

.project-tag-col1 {
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.tag-wrap {
  height: 30%;
}

.project-tag-col2 {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.project-tag-col2 span {
  height: 30%;
}
